# Dependency directory
node_modules

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Logs
logs
*.log

# Mac File System File...utterly useless to anyone but me.
.DS_Store
#.env ignore this later

#Redis dump
.rdb
*.rdb

#out files from nohup
*.out
