On host machine:
    Node
    Mongodb (all of them)
Node packages:
    npm install express mongoose passport connect-flash envvar moment plaid morgan cookie-parser body-parser express-session mongodb colors passport-local bcrypt-nodejs

