<!doctype html>
<html>

<head>
    <title>Link</title>
    <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/landing.css">
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <a href="/"><img src="assets/graphics/link_brand_white.png" width="120px" style="float: left; "></a>
        </div class>
        <div class="nav-bar">
            <a href="http://google.com">Plans</a>
            <a href="http://google.com">Business</a>
            <a href="http://google.com">About</a>
            <a href="http://google.com">Contact Us</a>
        </div>
    </div>
    <div class="center-text">
        <h1>Oh No!</h1>
        <h2>Something broke :(</h2>
        <p>Click our logo to go back to safety</p>
    </div>


</body>

</html>
