<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <a href="/"><img src="assets/graphics/link_brand_white.png" width="120px" style="float: left; "></a>
    </div class>
    <div class="nav-bar">
      <!-- <a href="/workinprogress">Plans</a>
      <a href="/workinprogress">Business</a>
      <a href="/workinprogress">About</a>
      <a href="/workinprogress">Contact Us</a> -->
      <a id="pro-button" href="/workinprogress">Link Pro</a>
    </div>
  </div>
  <div class="content">
    content
  </div>
</body>
</html>
