<!doctype html>
<html>

<head>
  <title>Knotter</title>
  <link rel="icon" href="assets/graphics/knotter_icon_white_on_green.png">
  <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script src="assets/js/dashboard.js"></script>
  <script src="assets/js/inactivity_timer.js"></script>
</head>

<script>
  getUserDataFromCache();

  $(document).ready(inactivity_timer());
</script>

<body>
  <div class="top-bar">
    <div class="logo">
      <a href="/"><img src="assets/graphics/knotter_brand_white.png" width="200px" style="float: left; "></a>
    </div class>
    <div class="nav-bar">
      <a href="/dashboard">Dashboard</a>
      <!-- <a href="/workinprogress">Business</a>
      <a href="/workinprogress">About</a>-->
      <a href="/api/logout" id="logout">Logout</a>
      <a id="pro-button" href="/workinprogress">Link Pro</a>
    </div>
  </div>
  </div>
  <div class="white-body">
    <button id="link-btn"><img src="assets/graphics/add.svg"></button>
    <div class="content" id="container_block">

      <!-- accounts cards get inserted here in the javascript -->
    </div>
  </div>

  <script>
    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'Plaid Walkthrough Demo',
      env: '<%= PLAID_ENV %>',
      product: ['transactions'],
      key: '<%= PLAID_PUBLIC_KEY %>',
      onSuccess: function(public_token) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function() {
          $('#container').fadeOut('fast', function() {
            $('#intro').hide();
            $('#app, #steps').fadeIn('slow');
          });
          $.get("/api/refresh_cache").success(
              function(success){
                  getUserDataFromCache()
              });
        });
      },
    });

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

    handler.onExit
  </script>

  <div id="more-info-modal" class="modal">
      <div class="modal-content">
        <div class="side-info">
          <img id ="info_modal_img" src="assets/cardLogos/default_card.svg">
          <div class="vl"></div>
        </div>
        <h1> BOLD TEXT</h1>
      </div>
  </div>


</body>


</html>
