<!doctype html>
<html lang="en">

<head>
    <title>Knotter</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="assets/graphics/knotter_icon_white_on_green.png">
    <link rel="stylesheet" type="text/css" href="assets/css/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/graphics.js"></script>
    <script src="assets/js/apiCalls.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#69d651">
</head>

<body>
    <div class="topbar nwidth hcenter">
        <a href="/"><img src="assets/graphics/knotter_brand_green.png" class="left vcenter" alt="Knotter" style="height:50px; margin:-25px 0 0 10px;"></a>
        <!-- <a href="/workinprogress" class="button2 button vcenter right" style="margin:-16px 10px 0 0; ">Knotter Pro</a> -->
        <a href="/dashboard" class="links left" style="margin: 0 0 0 160px; background-color:rgb(105, 214, 81, 0.5);">Breakdown</a>
        <a href="/accounts" class="links left">Accounts</a>
        <a href="/api/logout" class="links right">Logout</a>
        <button class="menubtn right vcenter" onclick="displayMenu()"><img src="assets/graphics/menu.png"/></button>
    </div>
    <!-- MOBILE NAV -->
    <div id="menu" class="menu" style="height:0px;">
        <a href="/dashboard" class="moblinks hcenter">Breakdown</a>
        <a href="/accounts" class="moblinks hcenter">Accounts</a>
        <a href="/api/logout" class="moblinks hcenter">Logout</a>
    </div>
    <!-- END MOBILE NAV -->
    <div class="container1 nwidth hcenter">
        <div class="detailbtns hcenter">
            <div class="cats">
                <h2> Categorical transactions </h2>
                <div class="catbtns">
                    <!-- CARD START -->

                    <!-- NEXT CARD -->
                    <div class="cardcontainer fradius">
                        <div class="category hcenter">
                            <p> Checking
                                <p>
                        </div>
                        <hr noshade>
                        <div class="totals">
                            <div class="bnktotal bnknums">
                                <p id="checkingTotal"></p>
                            </div>
                            <div class="inout bnknums">
                                <p id="checkingIn"></p>
                                <p id="checkingOut"></p>
                            </div>
                        </div>
                    </div>

                    <div class="cardcontainer fradius">
                        <div class="category hcenter">
                            <p> Credit
                                <p>
                        </div>
                        <hr noshade>
                        <div class="totals">
                            <div class="bnktotal bnknums">
                                <p id="creditTotal"></p>
                            </div>
                            <div class="inout bnknums">
                                <p id="creditIn"></p>
                                <p id="creditOut"></p>
                            </div>
                        </div>
                    </div>

                    <div class="cardcontainer fradius">
                        <div class="category hcenter">
                            <p> Savings
                                <p>
                        </div>
                        <hr noshade>
                        <div class="totals">
                            <div class="bnktotal bnknums">
                                <p id="savingsTotal"></p>
                            </div>
                            <div class="inout bnknums">
                                <p id="savingsIn"></p>
                                <p id="savingsOut"></p>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT CARD -->
                    <div class="cardcontainer fradius">
                        <div class="category hcenter">
                            <p> Investment
                                <p>
                        </div>
                        <hr noshade>
                        <div class="totals">
                            <div class="bnktotal bnknums">
                                <p id="investmentTotal"></p>
                            </div>
                            <div class="inout bnknums">
                                <p id="investmentIn"></p>
                                <p id="investmentOut"></p>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT CARD -->
                </div>
            </div>
            <div class="cats">
                <h2> Institutional transactions</h2>
                <div class="catbtns" id="INS_CARDS">
                    <!-- CARD START -->
                    <!--<div class="cardcontainer fradius">
                        <div class="banklogo hcenter">
                            <img src="assets/bankLogos/BoA.svg" class="logosvg">
                        </div>
                        <hr noshade>
                        <div class="totals">
                            <div class="bnktotal bnknums">
                                <p id="bankTotal">Total: </p>
                            </div>
                            <div class="inout bnknums">
                                <p id="bankIn">In: </p>
                                <p id="bankOut">Out: </p>
                            </div>
                        </div>
                    </div>-->
                    <!-- NEXT CARD -->

                    <!-- NEXT CARD -->
                    <div id="link-btn" class="cardcontainer fradius" onclick="handlerOpen()">
                        <p> + </p>
                    </div>
                    <!-- NEXT CARD  -->
                </div>
            </div>
            <!-- INSTITUTIONAL TRANSACTIONS END HERE -->
        </div>
        <div class="breakdown">
            <div class="chart hcenter">
                <canvas id="donut1" height="250" width="333"></canvas>
                <div class="total">
                    <h1 style="color:green;" id="totalBalance">$</h1>
                </div>
            </div>
            <div class="chart hcenter">
                <canvas id="donut2" height="250" width="333"></canvas>
                <div class="total">
                    <h1 style="color:red;"> $2,832 </h1>
                </div>
            </div>
            <div id="lineshw" class="chart hcenter">
                <canvas id="line" height="250" width="300"></canvas>
            </div>
        </div>
    </div>
    <div class="footer maxwidth bottom">
        <div class="footerlnks hcenter nwidth">
            <a href="/workinprogress"> Contact Us </a>
            <a href="/workinprogress"> Leave Feedback </a>
            <a href="/workinprogress"> FAQ </a>
        </div>
    </div>

    <script>
        var labels = ['Credit', 'Savings', 'Investments', 'Credit'];
        var colors = ['rgb(105, 214, 81)', 'rgb(0, 176, 155)', 'rgb(0, 73, 176)'];
        var outColors = ['rgb(224, 47, 47)','rgb(224, 108, 47)','rgb(224, 200, 47)']



        getUserKnotterdataSafe().then(function(knotterJSON) {
            console.log(knotterJSON);
            createCategoryInData(knotterJSON).then(function(userIn) {
                document.getElementById("checkingIn").innerHTML += parseFloat(userIn[0]).toFixed(2);
                document.getElementById("savingsIn").innerHTML += parseFloat(userIn[1]).toFixed(2);
                document.getElementById("investmentIn").innerHTML += parseFloat(userIn[2]).toFixed(2);
                document.getElementById("creditIn").innerHTML += parseFloat(userIn[3]).toFixed(2);
            });
            createCategoryOutData(knotterJSON).then(function(userOut) {
                document.getElementById("checkingOut").innerHTML += parseFloat(userOut[0]).toFixed(2);
                document.getElementById("savingsOut").innerHTML += parseFloat(userOut[1]).toFixed(2);
                document.getElementById("investmentOut").innerHTML += parseFloat(userOut[2]).toFixed(2);
                document.getElementById("creditOut").innerHTML += parseFloat(userOut[3]).toFixed(2);
            });
            createCategoryBalanceData(knotterJSON).then(function(userTotal) {
                document.getElementById("checkingTotal").innerHTML += parseFloat(userTotal[0]).toFixed(2);
                document.getElementById("savingsTotal").innerHTML += parseFloat(userTotal[1]).toFixed(2);
                document.getElementById("investmentTotal").innerHTML += parseFloat(userTotal[2]).toFixed(2);
                document.getElementById("creditTotal").innerHTML += parseFloat(userTotal[3]).toFixed(2);
                drawPieChart(userTotal, "donut1", colors, labels);
                document.getElementById("totalBalance").innerHTML += (0 + Number(userTotal[0]) + Number(userTotal[1]) + Number(userTotal[2]));
            });
            renderInsCards(knotterJSON);
        });

        var handler = Plaid.create({
            apiVersion: 'v2',
            clientName: 'Knotter',
            env: '<%= PLAID_ENV %>',
            product: ['transactions'],
            key: '<%= PLAID_PUBLIC_KEY %>',
            onSuccess: function(public_token) {
                $.post('/get_access_token', {
                    public_token: public_token
                }, function() {
                    $('#container').fadeOut('fast', function() {
                        $('#intro').hide();
                        $('#app, #steps').fadeIn('slow');
                    });
                    $.get("/api/refresh_cache").success(
                        function(success) {
                            //getUserDataFromCache()
                        });
                });
            },
            onExit: function(error, metadata) {
                if (error) {
                    $.post('/api/log_error', {
                        error: error,
                        metadata: metadata
                    });
                }
                /*supportHandler.report({
                    error: error,
                    institution: metadata.institution,
                    link_session_id: metadata.link_session_id,
                    status: metadata.status,
                });*/
            }
        });

        function handlerOpen(){
            handler.open();
        }
    </script>


    <script>
    //For whatever reason, this HAS to be here
    function linkUpdateMode(access_token_update){
        //Find the access_token associated with the ITEM_ID
        //console.log("update: " + access_token_update);
        $.post('/api/get_public_token', {
            access_token: access_token_update
        },function(response) {
            var linkHandler = Plaid.create({
                env: '<%= PLAID_ENV %>',
                clientName: 'Knotter',
                key: '<%= PLAID_PUBLIC_KEY %>',
                product: ['transactions'],
                token: response.publicToken,
                onSuccess: function(public_token, metadata) {
                    // You do not need to repeat the /item/public_token/exchange
                    // process when a user uses Link in update mode.
                    // The Item's access_token has not changed.
                },
                onExit: function(error, metadata) {
                    // The user exited the Link flow.
                    if (error) {
                        $.post('/api/log_error', {
                            error: error,
                            metadata: metadata
                        });
                    }
                    // metadata contains the most recent API request ID and the
                    // Link session ID. Storing this information is helpful
                    // for support.
                }
            });

            document.getElementById(access_token_update).onclick = function() {
                // Link will automatically detect the institution ID
                // associated with the public token and present the
                // credential view to your user.
                linkHandler.open();
            };
        });
    }

    </script>


</body>

</html>
