<!doctype html>
<html>

<head>
  <title>Link</title>
  <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
  <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="assets/js/dashboard.js"></script>

</head>

<script>
    $.get('/api/get_cached_transactions').success(
        function(success) {
            console.log(success);
            addCards(success);
        }).error(
        function(error) {
            console.log(error)
        });
</script>

<body>
  <div class="top-bar">
    <div class="logo">
      <a href="/"><img src="assets/graphics/link_brand_white.png" width="120px" style="float: left; "></a>
    </div class>
    <div class="nav-bar">
      <!-- <a href="/workinprogress">Plans</a>
      <a href="/workinprogress">Business</a>
      <a href="/workinprogress">About</a>
      <a href="/workinprogress">Contact Us</a> -->
      <a id="pro-button" href="/workinprogress">Link Pro</a>
    </div>
  </div>
  <div class="white-body">
    <div class="content" id="container_block">

      <!-- <script>
      document.getElementById("container_block").innerHTML = addCards();
      </script> -->
      <!-- <div class="card">
        <div class="card-content">
          <div class="bank-logo">
            <img src="assets/graphics/BoACardLogo.svg">
        </div>
          <div class="info">
            <div class="balance">
              <p> Current balance: </p>
              <h2> $50 </h2>
              <hr>
              <p> Credit remaining: </p>
              <h2> $1000 </h2>
            </div>
          </div>
          <div class="transactions" id="style-1">
            <table>
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
            -->

    </div>
  </div>



</body>

</html>
