<!doctype html>
<html lang="en">
<head>
    <title>Knotter</title>
    <link rel="icon" href="assets/graphics/knotter_icon_white_on_green.png">
    <link rel="stylesheet" type="text/css" href= "assets/css/landing.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#69d651">
</head>

<body>
  <div id="tag">
  </div>

  <div class="topbar nwidth hcenter">
    <a href="/"><img src="assets/graphics/knotter_brand_green.png" class="left vcenter" style="height:50px; margin:-25px 0 0 10px;"></a>
    <!-- <a href="/workinprogress" class="button2 button vcenter right" style="margin:-16px 10px 0 0; ">Knotter Pro</a> -->
  </div>
  <div class="container1 hcenter">
    <div class=" sec1 nwidth hcenter txtcenter">
      <h2 style="color: #69d651"> Manage all your personal finances in one place </h1>
    </div>

    <div class="sec2 hcenter" style="width:300px;">
      <div id="login-form" class="creds hcenter">
        <input id="email" class="cred fradius" type="email" placeholder="Email" name="email" required />
        <div id="passbox" class="cred fradius">
          <input id="pass" class="fkcred top" type="password" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <img id="hide-icon" class="right" src="assets/graphics/hide.svg" width="20px" onClick="showPass()">
        </div>
      </div>
      <div class="subbtns hcenter">
        <button id="login-button" class="button1 button fradius hcenter" onclick="login()">Login</a></button>
        <button id="sign-up-button" class="button2 button fradius hcenter" onclick="signup()">Sign Up</a></button>
      </div>
    </div>
    <div class="sec3 infosec maxwidth">
      <div class="about nwidth hcenter ">
        <div class="blurb left">
          <h2> Save time </h2>
          <p> Keeping track of all your bank accounts is a hastle. <br>
            We're here to help with that. <br>
            Login once. Check as many times as you want. <br>
            Keep track of all accounts in one simple place. </p>
        </div>
        <div class="aboutimg right">
          <img src="assets/graphics/happy-lady.jpg" style="height:285px; width: auto;">
        </div>
      </div>
    </div>
    <div class="sec4 infosec maxwidth">
      <div class="about nwidth hcenter">
        <div class="blurb right" style="color:black;">
          <h2> Analytics </h2>
          <p> We make it easy to see what your money is doing.<br>
            You'll receive detailed analytics on your money.<br>
            See whats coming in and going out. <br>
            And follow your balances easilty. </p>
        </div>
        <div class="aboutimg left">
          <img src="assets/graphics/analytics.jpg" style="height:285px; width: auto;">
        </div>
      </div>
    </div>
    <div class="sec5 infosec maxwidth">
      <div class="about nwidth hcenter ">
        <div class="blurb left">
          <h2> Security </h2>
          <p> Security is our top priority. <br>
            We never even look at youyr data. <br>
            We simply pass your info straight from your bank to you. <br>
            Rest assured we got ya back. </p>
        </div>
        <div class="aboutimg right">
          <img src="assets/graphics/security.jpg" style="height:285px; width: auto;">
        </div>
      </div>
    </div>
    <div class="sec6 maxwidth">
      <div class="footer hcenter nwidth">
        <a href="/workinprogress"> Contact Us </a>
        <a href="/workinprogress"> Leave Feedback </a>
        <a href="/workinprogress"> FAQ </a>
      </div>
    </div>
  </div>


  <script src="assets/js/landing.js"></script>

</body>
</html>
