<!doctype html>
<html>
<head>
    <title>Welcome to Lucidity</title>
    <link rel="stylesheet" type="text/css" href="../public/css/landing.css">
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <img src="../public/assets/LucidityWhite.png" width="200px" style="float: left; padding-right: 20px;">
    </div class>
    <div class="nav-bar">
      <a href="http://google.com">Change</a>
      <a href="http://google.com">These</a>
      <a href="http://google.com">To</a>
      <a href="http://google.com">Whatever</a>
      <a href="http://google.com">You</a>
      <a href="http://google.com">Want</a>
    </div>
    <!-- <div class="top-buttons">
      <button class="button" type="button">Login</button>
      <div class="vertical-line"></div>
      <button class="button" type="button">Sign Up</button>
    </div> -->
  </div>
  <div class="center-text">
    <p>Manage all your personal and business finances in one place</p>
  </div>
  <div class="action-buttons">
    <a href="http://google.com" class="button" style="float: left;">Login</a>
    <a href="http://google.com" class="button" style="float: right; ">Sign Up</a>
    <!-- <button class="button" type="button">Login</button> -->
    <!-- <button class="button" type="button" style="float: right;">Sign Up</button> -->
  </div>

  <div class="info-section">
    <div
</body>
</html>
