<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <a href="/dashboard"><img src="assets/graphics/link_brand_white.png" width="120px" style="float: left; "></a>
    </div class>
  </div>
  <div class="loader">
    <img src="assets/graphics/workinprogress.svg"></img>
    <p>We're still working on this page! Head back to the dashboard for now.</p>
  </div>
</body>
</html>
