:root{
  --chart-height: 300px;
  --chart-width: 333px;
}

svg > g > g:last-child { pointer-events: none }

.links{
  line-height: var(--topbar-height);
  text-decoration: none;
  color: grey;
  overflow: auto;
  padding: 0 10px 0 10px;
  transition: 0.2s;
}


.links:hover{
  background-color: lightgrey;
}

.breakdown{
  /* display: inline-block; */
}

.pie{
  display: inline-block;
  width: var(--chart-width);
}
