:root{
  --chart-height: 250px;
  --chart-width: 333px;
}

svg > g > g:last-child { pointer-events: none }

.links{
  line-height: var(--topbar-height);
  text-decoration: none;
  color: grey;
  overflow: auto;
  padding: 0 10px 0 10px;
  transition: 0.2s;
}


.links:hover{
  background-color: lightgrey;
}

.container1{
}

.detailbtns{
  width: calc(var(--nwidth) - var(--chart-width) - 4px);
  margin: 40px 0 20px 0;
  display: inline-block;
  vertical-align: top;
}

.cats{
  display: inline-block;
}

.catbtns{
  display: block;
}

.catbtns a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 215px;
  color: grey;

  transition: .3s;
}
.catbtns a:hover{
  background-color: lightgrey;
}

#link-btn{
  background-color:rgb(105, 214, 81, 0.5);
}

#link-btn:hover{
  background-color:rgb(105, 214, 81);
}

.breakdown{
  width: var(--chart-width);
  margin: 40px 0 20px 0;
  display: inline-block;
}

.chart{
  display: block;
  position: relative;
}

.total{
  position: absolute;
  z-index: 1;
  top:67px;
  left: 115px;
}

.menubtn{
  display: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin: -36px 0 0 0;
  padding: 20px 20px 20px 10px;
}

.menu{
  /* height: 0px; */
  overflow: hidden;
  transition: 0.3s;
}

.moblinks{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: black;
  background-color: lightgrey;
}

.moblinks:hover{
   background-color:rgb(105, 214, 81, 0.5);
}


@media only screen and (min-width:675px) {
  .menu{
    display: none;
  }
}

@media only screen and (max-width:1020px) {
  /* For tablets: */

    .detailbtns{
      display: block;
      width: 333px;
      margin: auto auto 100px auto;
    }

    .cats{
      margin: auto;
      display: block;
    }

    .cats h2{
      text-align: center;
    }

    .catbtns a{
      width: 49%;
    }

    .breakdown{
      display: block;
      margin: auto;
    }
}
@media only screen and (max-width:675px) {
  /* For mobile phones: */
  .links{
    display: none;
  }
  .menubtn{
    display: block;
  }
  .breakdown{
    margin: auto;
  }



}
