:root{
  --chart-height: 250px;
  --chart-width: 333px;
}

svg > g > g:last-child { pointer-events: none }

.links{
  line-height: var(--topbar-height);
  text-decoration: none;
  color: grey;
  overflow: auto;
  padding: 0 10px 0 10px;
  transition: 0.2s;
}


.links:hover{
  background-color: lightgrey;
}

.container1{
}

.detailbtns{
  width: calc(var(--nwidth) - var(--chart-width) - 4px);
  margin: 40px 0 20px 0;
  display: inline-block;
  vertical-align: top;
}

.cats{
  display: inline-block;
}

.catbtns{
  display: block;
}

/* .catbtns a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 215px;
  color: grey;

  transition: .3s;
}
.catbtns a:hover{
  background-color: lightgrey;
} */

.cardcontainer{
  height: 175px;
  width: 175px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  margin: 0 10px 20px 10px;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  overflow: hidden;
}

.cardcontainer hr{
  margin: 0;
  border-color: lightgrey;
}

.cardcontainer:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.banklogo{
  display: block;
  margin: 0;
}

.category{
  line-height: calc(85px - 2em);
  font-weight: 300;
  font-size: 16pt;
  text-align: center;
}

.logosvg{
  display: block;
  margin: auto;
  height: 85px;
  width: 85px;
}

.totals{
  margin: 0;
  display: block;
  align-items: top;
}

.bnknums{
  width: 48%;
  display: inline-block;
  text-align: center;
  font-size: 11pt;

}

.bnktotal{
  vertical-align: top;
  line-height: 50px;
}

.inout{
  line-height: 18px;
}


#link-btn{
  background-color:rgb(105, 214, 81, 0.1);
  text-align: center;
  line-height: 150px;
  font-size: 80pt;
  color: #69d651;
}

#link-btn p{
  margin: 0;
}


.breakdown{
  width: var(--chart-width);
  margin: 40px 0 20px 0;
  display: inline-block;
}

.chart{
  display: block;
  position: relative;
}

.total{
  position: absolute;
  z-index: 1;
  top:67px;
  left: 115px;
}

.menubtn{
  display: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  margin: -36px 0 0 0;
  padding: 20px 20px 20px 10px;
}

.menu{
  /* height: 0px; */
  overflow: hidden;
  transition: 0.3s;
}

.moblinks{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: black;
  background-color: lightgrey;
}

.moblinks:hover{
   background-color:rgb(105, 214, 81, 0.5);
}


@media only screen and (min-width:675px) {
  .menu{
    display: none;
  }
}

@media only screen and (max-width:1020px) {
  /* For tablets: */

    .cats{
      display: block;
    }

    .detailbtns{
      display: block;
      width: 90%;
      margin: auto auto 60px auto;
    }

    .cardcontainer{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      margin: 0 5px 15px 5px;
      width: 46%;
    }

    .breakdown{
      display: block;
      margin: auto;
    }
}
@media only screen and (max-width:675px) {
  /* For mobile phones: */
  .links{
    display: none;
  }
  .menubtn{
    display: block;
  }
  .breakdown{
    margin: auto;
  }



}
