html{
  background: linear-gradient(to bottom right, #00b09b, #96d03d);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 70%;
  margin: auto;

  /*THIS ACCOUNTS FOR THE SERVICE TAG. REMOVE WHEN RELEASE */
  margin-top: -18px;
}

a{
  text-decoration: none;
}

/*POSITIONS*/
.left{
  float: left;
}

.right{
  float: right;
}

.top{
  top: 0;
}

.bottom{
  bottom: 0;
}

.h-center{
  margin: auto;
}

.v-center{
  margin:auto;
}

/*------------------------------------------------------------------*/


/* SERVICE TAG */
#tag-home p{
  margin: 0;
}

.top-bar{
  height: 6em;
}


 #pro-button{
   margin-top: 1em;
}

#pro-button:hover{
  background-color: #4dc3ff;
}


.logo{
  margin-top: 1em;
}


.button{
  border: 1px solid white;
  width: 7em;
  padding-top: .4em;
  padding-bottom: .4em;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 15pt;
  background: inherit;
  transition-duration: 0.4s;
  border-radius: 4px;
}

.button:hover{
  background-color: #00b09b;
}

.button:focus {
  outline: 0;
}

#sign-up-button{
  color: #00b09b;
  background-color: white;
}

#sign-up-button:hover{
  color: white;
  background-color: #00b09b;
}


.center-text{
  color: white;
  font-size: 2.5vw;
  text-align: center;
  max-width: 70%;
  min-width: 40%;
  margin: 0 auto;
  padding-top: 100px;
}

.center-text p{
  padding-bottom: 18px;
}

.action-buttons{
  margin: 0 auto;
  max-width: 40%;
}

.info-section{
  padding-top: 100px;
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  justify-content: space-between;
  min-width: 70%;

}

.info-box{
  color:white;
  float: left;
  max-width: 250px;
  text-align: center;
  line-height: 20px;
  font-size: 1vw;
}

.info-box img{
  width: 5em;
}

.modal{
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0,0,0,0.5);

}

.modal-content{
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.field-icon {
  float: right;
  margin-top: -45px;
  position: relative;
  z-index: 2;
}


.form{
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 35px;
  text-align: center;
}

.form form{
  background-color: white;
}

.form input{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.form button{
  border: 1px solid white;
  width: 120px;
  height: 35px;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background-color: #00b09b;
  transition-duration: 0.4s;
  cursor: pointer;
}

.form p{
  font-size: 12px;
  margin: 0;
  color: lightgrey;
  padding-top: 30px;
}

.form a{
  color: blue;
  cursor: pointer;
}


.loader{
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

.loader img{
  display: block;
  margin: auto;
  width: 30%;
}

.loader p {
  font-size: 25px;
  color: white;
  text-align: center;
}

.loader h2 {
  font-size: 50px;
  color: white;
  text-align: center;
}
