* {
  box-sizing: border-box;
}

html{
  /* background: linear-gradient(to bottom right, #00b09b, #96d03d); */
}

body{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.left{
  float: left;
  left: 0;
}

.right{
  float: right;
  right: 0;
}

.hcenter{
  margin: auto;
}

.vcenter{
  position: absolute;
  top: 50%;
}

.topbar{
  height: 75px;
  position: relative;
  padding: 0 10px 0 10px;
}

.nwidth{
  max-width: 1000px;
}

.txtcenter{
  text-align: center;
}

.txtleft{
  text-align: left;
}

.txtright{
  text-align: right;
}

.button{
  font-family: "Ubuntu", sans-serif;
}


.button1{
  border: 1px solid #69d651;
  border-radius: 4px;
  width: 7em;
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: 12pt;
  color:#69d651;
  background: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button2{
  border: 1px solid #69d651;
  border-radius: 4px;
  width: 7em;
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: 12pt;
  color:white;
  background: #69d651;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button:hover{
  background-color: #4c9b3b;
  border: 1px solid #4c9b3b;
  color: white;

}

.button:focus {
  outline: 0;
}


.infosec{
  height: 500px;
  padding: 108px 0 0 0;
  overflow: hidden;
}

.sec1{
  padding: 75px 0 0 0;
}

.sec2{
  padding: 20px 0 100px 0;
  overflow: auto;
}

.sec3{
  background-color: #69d651;
}

.sec4{
  background-color: white;
}

.sec5{
  background-color: #00b09b;
}

.about{
  padding: 0 10px 0 10px;
}

.blurb{
  margin: auto;
  font-size: 12pt;
  line-height: 20pt;
  color: white;
}

.sec6{
  height: 75px;
}

.footer{
  line-height: 75px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: grey;
  font-size: 8pt;
  padding: 0 20px 0 20px;
}

@media only screen and (max-width:1020px) {
  /* For tablets: */
  .infosec{
    height: 200px;
    padding: 0 0 0 0;
  }

  .about {
    color: white;

  }

  .aboutimg{
    display: none;
  }

  .blurb{
    font-size: 12pt;
    line-height: 20pt;
    float: none;
    width: 370px;
    margin: auto;
  }

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main{
    width: 100%;
  }
}
