<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
</head>
<body>
    <aside class="sidebar">
      <img src="assets/link_brand_white.png">
      <nav>
        <ul>
          <li><a href="/dashboard">Home</a></li>
          <li><a href="/dashboard">Accounts</a></li>
          <li><a href="/dashboard">Bills</a></li>
          <li><a href="/dashboard">Expenses</a></li>
          <li><a href="/dashboard">Link+</a></li>
        </ul>
      </nav>
      <div class="profile">
        <div id="profile-links">
          <a id="logout-button" href="/logout">Logout</a>
          <div class="vl"></div>
          <a href="/profile">My Account</a>
        </div>
          <a href="/profile"><img src="assets/profile_pic_default.svg"/></a>
      </div>
    </aside>
</body>
