<!doctype html>
<html>

<head>
    <title>Link</title>
    <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="assets/js/plaid_api_calls.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/jscript">
        /*$.get('/api/refresh_cache').success(
            function(success) {
                console.log("I refrrshed");

            }).error(
            function(error) {
                console.log(error)
            });*/


        /*google.charts.load("current", {
            packages: ["corechart"]
        });

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/get_graph_data').success(
                function(success) {
                    console.log(success)
                    var data = google.visualization.arrayToDataTable(success);
                    var options = {
                        title: 'Spending each month',
                        width: 1300,
                        height: 250,
                        bar: {
                            groupWidth: "95%"
                        },
                        // hAxis.textStyle: {fontSize: "10"},
                        legend: {
                            position: 'none'
                        }
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }).error(
                function(error) {
                    console.log(error)
                });
        }*/
        //setTimeout(drawChart(),3000);
    </script>
</head>

<body>

    <aside class="sidebar">
        <a href="/dashboard"><img src="assets/graphics/link_brand_white.png"></a>
        <nav>
            <ul>
                <li><a href="/dashboard" class="selected">Dashboard</a></li>
                <li><a href="/accounts.ejs">Accounts</a></li>
                <li><a href="/workinprogress">Bills</a></li>
                <li><a href="/workinprogress">Analytics</a></li>
                <li><a href="/workinprogress">Link+</a></li>
            </ul>
        </nav>
        <div class="profile">
            <div id="profile-links">
                <a id="logout-button" href="/api/logout">Logout</a>
                <div class="vl"></div>
                <a href="/profile">My Account</a>
            </div>
            <a href="/profile"><img src="assets/graphics/profile_pic_default.svg"/></a>
        </div>
    </aside>

    <!-- Dashboard content starts here  -->
    <div class="dash-sections">
        <div id="chart_div" style="width:1300px; height: 250px;">
            <!--insert chart here-->

            <!-- <canvas id="myChart" width="800" height="250"></canvas> -->
        </div>
    </div>
    <div class="dash-sections">
        <div class="card-container">
            insert recent transactions here
        </div>
    </div>
    <header class="section-header">Most Active Accounts</header>
    <div class="dash-sections" id="accountCards">

    </div>

    <script>
        $('#chartDiv').addClass('spinner');
        $('#accountCards').addClass('spinner');


        //call get accont data from server if its null we rerun this
        //can we run this serverside please

        /*$.get('/api/on_login', {}).success(
            function(success) {
                console.log(success);
            }).error(
            function(error) {
                console.log(error);
            });*/

        /*$.get('/api/get_cached_user_accounts', {}).success(
            function(success) {
                console.log(success);
            }).error(
            function(error) {
                console.log(error);
            });*/

        /*$.get('/api/get_cached_items', {}).success(
          function(success) {
            console.log(success);
          }).error(
          function(error) {
            console.log(error);
          });*/
        /*$.get('/api/get_cached_transactions', {}).success(
            function(success) {
                console.log(success);
            }).error(
            function(error) {
                console.log(error);
            });*/

        /*get_user_transactions();

        get_user_accounts();

        setTimeout(transactionArraytoCSV, 1000);
        setTimeout(transactionCSVtoFrequencyGraph, 1000);


        var ctx = document.getElementById('myChart').getContext('2d');

        setTimeout(makeChart, 1000);

        setTimeout(createAccountCards, 1000);*/


        setTimeout(removeGraphSpinner, 1000);
        setTimeout(removeCardSpinner, 1000);
    </script>

</body>
