<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
    <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="assets/js/plaid_api_calls.js"></script>
</head>
<body>

  <aside class="sidebar">
    <a href="/dashboard"><img src="assets/link_brand_white.png"></a>
    <nav>
      <ul>
        <li><a href="/dashboard" class="selected">Dashboard</a></li>
        <li><a href="/accounts.ejs">Accounts</a></li>
        <li><a href="/dashboard">Bills</a></li>
        <li><a href="/dashboard">Analytics</a></li>
        <li><a href="/dashboard">Link+</a></li>
      </ul>
    </nav>
    <div class="profile">
      <div id="profile-links">
        <a id="logout-button" href="/logout">Logout</a>
        <div class="vl"></div>
        <a href="/profile">My Account</a>
      </div>
        <a href="/profile"><img src="assets/profile_pic_default.svg"/></a>
    </div>
  </aside>

    <!-- Dashboard content starts here  -->
    <div class="dash-sections">
      <div class="chart-container">
        <!--insert chart here-->
        <canvas id="myChart" width="800" height="250"></canvas>
      </div>
    </div>
    <div class="dash-sections">
      <div class="card-container">
        insert recent transactions here
      </div>
    </div>
    <header class="section-header">Most Active Accounts</header>
    <div class="dash-sections">
      <a href="/accounts">
        <div class="card">
          <img src="assets/BOAcard.svg" style="width:100%">
          <div class="container">
            <p class="balance">$1,275.52<p>
            <p>Bank of America Savings</p>
          </div>
        </div>
      </a>
      <a href="/accounts">
        <div class="card">
          <img src="assets/chase_logo.svg">
          <div class="container">
            <p class="balance">-$549.03<p>
            <p>Chase Credit Card</p>
          </div>
        </div>
      </a>
      <a href="/accounts">
        <div class="card">
          <img src="assets/capital_one_card.svg">
          <div class="container">
            <p class="balance">-$76.12<p>
            <p>Capital One Credit Card</p>
          </div>
        </div>
      </a>
      <a href="/accounts">
        <div class="card">
          <img src="assets/fidelity_card.svg">
          <div class="container">
            <p class="balance">$11,023.45<p>
            <p>Fidelity Brokerage Account</p>
          </div>
        </div>
      </a>
    </div>

<script>
    get_user_transactions();
    get_user_accounts();

    setTimeout(transactionArraytoCSV, 1000);
    setTimeout(transactionCSVtoFrequencyGraph, 1000);

    var ctx = document.getElementById('myChart').getContext('2d');

    setTimeout(makeChart, 1000);

</script>

</body>
