<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lucidity</title>
<link rel="stylesheet" type="text/css" href="../public/assets/css/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</head>


<!--<script>
function populateMap() {
    $.ajax({
        dataType: "json",
        url: '/data.json',
        beforeSend: function(xhr){
            if (xhr.overrideMimeType) {
                xhr.overrideMimeType("application/json");
            }
        },
        success: function(data) {
            console.log(data);
            if (typeof data !== "undefined") {
                $('#get-transactions-data').slideUp(function() {
                  var html = '';
                  data.transactions.forEach(function(txn, idx) {
                    html += '<div class="inner">';
                    html += '<strong>' + txn.name + '</strong><br>';
                    html += '$' + txn.amount;
                    html += '<br><em>' + txn.date + '</em>';
                    html += '</div>';
                  });
                  $(this).slideUp(function() {
                    $(this).html(html).slideDown();
                  });
              });

            }
          }
      });
  }
</script>-->


<body>
    <div id="banner" style="margin: auto;width: 50%; padding: 3% 0 0;">
        <img style="max-width: 50%; display: block;margin-left: auto;margin-right: auto;" src="assets/LucidityWhite.png">
    </div>
  <!--<div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
  </div>-->

  <div id="container">
    <button id="link-btn">Link Account</button>
  </div>



  <script>
  (function($) {
    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'Plaid Walkthrough Demo',
      env: '<%= PLAID_ENV %>',
      product: ['transactions'],
      key: '<%= PLAID_PUBLIC_KEY %>',
      onSuccess: function(public_token) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function() {
          $('#container').fadeOut('fast', function() {
            /*$('#intro').hide();
            $('#app, #steps').fadeIn('slow');*/
            window.location = "/dashboard.ejs" //Fix Redirect
          });
        });
      },
    });

    $('#link-btn').on('click', function(e) {
      handler.open();
    });
  })(jQuery);
  </script>




</body>
</html>
