<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/landing.css">
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <a href="http://google.com"><img src="assets/link_brand_white.png" width="120px" style="float: left; "></a>
    </div class>
    <div class="nav-bar">
      <a href="http://google.com">Plans</a>
      <a href="http://google.com">Business</a>
      <a href="http://google.com">About</a>
      <a href="http://google.com">Contact Us</a>
      <a id="pro-button" href="http://google.com">Link Pro</a>
    </div>
    <!-- <div class="pro-button">
      <a href="http://google.com" style="float:right">Lucidity Pro</a>
    </div> -->
    <!-- <div class="top-buttons">
      <button class="button" type="button">Login</button>
      <div class="vertical-line"></div>
      <button class="button" type="button">Sign Up</button>
    </div> -->
  </div>
  <div class="center-text">
    <p>Manage all your finances in one place.</p>
    <div class="action-buttons">
    <button id="login-button" class="button" style="float: left;">Login</a>
    <button id="sign-up-button" class="button" style="float: right; ">Sign Up</a>
    <!-- <button class="button" type="button">Login</button> -->
    <!-- <button class="button" type="button" style="float: right;">Sign Up</button> -->
    </div>
  </div>

  <div class="info-section">
    <div class="info-box">
      <img src="assets/hub_icon.png" width="75px;">
      <p>Link brings all of your accounts to one centralized hub.</p>
    </div>
    <div class="info-box">
      <img src="assets/exchange_icon.png" width="75px">
      <p>Send and receive money, pay bills, and make transactions.</p>
    </div>
    <div class="info-box">
      <img src="assets/analytics_icon.png" width="75px">
      <p>Keep track of your money and receive detailed analytics on it.</p>
    </div>
  </div>

  <!-- Login modal -->
  <div id="login-modal" class="modal">
    <div class="modal-content">
        <form action="/login" method="post" class="form">
          <input id="login-name" type="text" class="form-control" name="email" placeholder="Email">
          <input id="login-pass" type="password" class="form-control" name="password" placeholder="Password">
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
          <p class="message">Not registered? <a id="already-sign-up">Sign Up</a></p>
        </form>
    </div>
  </div>


  <!-- Sign up modal -->
  <div id="sign-up-modal" class="modal">
    <div class="modal-content">
      <div class="form">
        <form action="/signup" method="post" class="register-form">
          <input id="sign-up-email" type="text" name="email" placeholder="Email"/>
          <input id="sign-up-name" type="text" name="name" placeholder="Name"/>
          <input id="sign-up-pass" type="password" name="password" placeholder="Password"/>
          <button>Create</button>
          <p class="message">Already registered? <a id="already-login">Login</a></p>
        </form>
      </div>
    </div>
  </div>


<script src="assets/js/landing.js"></script>

</body>
</html>
