<!doctype html>
<html>
<head>
    <title>Link</title>
    <link rel="icon" href="assets/graphics/link_icon_w_on_g.png">
    <link rel="stylesheet" type="text/css" href="assets/css/landing.css">
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <a href="/"><img src="assets/graphics/link_brand_white.png" width="120px" style="float: left; "></a>
    </div class>
  </div>
  <div class="loader">
    <img src="assets/graphics/loader.svg"></img>
    <p>Please wait while we load your account</p>
  </div>
  <script>
    setTimeout(function(){window.location='/dashboard'}, 5000);
  </script>
</body>
</html>
