<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Lucidity Login</title>
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>



    <!-- LOGIN FORM -->
    <body>
    <div id="banner" style="margin: auto;width: 50%; padding: 3% 0 0;">
        <img style="max-width: 50%; display: block;margin-left: auto;margin-right: auto;" src="assets/LucidityWhite.png">
    </div>
    <!--<div class="container">-->
    <div class="login-page">
        <form action="/name" method="post" class="login-form">
            <div class="form">
                <input type="text" class="form-control" name="name" placeholder="name">
                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </div>
        </form>
    </div>
</body>

</body>
</html>
